{% extends 'public/layoutDueno.html' %}
{% block title %}Registrar Dueño{% endblock %}

{% block body %}


<section>
    <h2>
        <a href="/dueno" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Actualizar Información del dueño
        <hr>
    </h2>

    {% if (dataInfo) %}
      <form action="{{ url_for('formActualizarDueno', idDueno = dataInfo.idDueno ) }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" class="form-control" name="idDueno" value="{{ dataInfo.idDueno }}" required hidden>
        
        <div class="row">
            <div class="col">
                <label for="TipoDoc">TipoDoc</label>
                <input type="text" name="TipoDoc" value="{{ dataInfo.TipoDoc }}" class="form-control">
            </div>
            <div class="col">
                <label for="NumDoc">NumDoc</label>
                <input type="text" name="NumDoc" value="{{ dataInfo.NumDoc }}" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="Nombre">Nombre</label>
                <input type="text" name="Nombre" value="{{ dataInfo.Nombre }}" class="form-control">
            </div>

            <div class="col">
                <label for="Apellido">Apellido</label>
                <input type="text" name="Apellido" value="{{ dataInfo.Apellido }}" class="form-control">
        </div>

        <div class="row">
            <div class="col">
                <label for="FechaNac">FechaNac</label>
                <input type="text" name="FechaNac" value="{{ dataInfo.FechaNac }}" class="form-control">
            </div>

            <div class="col">
                <label for="EsBuscador">EsBuscador</label>
                <input type="text" name="EsBuscador" value="{{ dataInfo.EsBuscador }}" class="form-control">
        </div>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Actualización">
    </form>

    {% else %}
    <div class="col-12">
        <h2 class="text-center">
            No existe el dueño
        </h2>
    </div>
{% endif %}

</section>

{% endblock %}